.tile {
    &Image {
        position: relative;
        cursor: pointer;
    }

    &Kebab {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 3px;
        opacity: 40%;
        background-color: black;
    }

    &Menu {
        padding-top: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: default;
        background-color: #232323;

        &Close {
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }

        &Item {
            padding: 10px 25px;
            cursor: pointer;
            &:hover {
                background-color: #F65261;
            }
        }
    }

    &Details {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
    }

    &Name {
        margin-bottom: 8px;
        font-size: 18px;
        opacity: 70%;
    }

    &Genre {
        font-size: 14px;
        opacity: 50%;
    }

    &Date {
        padding: 5px 10px;
        border: 1px solid #979797;
        border-radius: 4px;
        font-size: 14px;
        opacity: 70%;
    }
  
    &Img {
        width: 322px;
        height: 455px;
    }
}
